<div class="products-catagories-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h4>Cervecerías cargadas</h4>
                <div class="mt-3 d-flex justify-content-around">
                    <a href="/admin/index"><button type="button" class="btn btn-block amado-btn"><i
                                class="fa fa-arrow-left" aria-hidden="true"></i>
                            Volver</button></a>
                    <a href="/admin/cervecerias/alta"><button type="button" class="btn amado-btn">Alta de
                            cervecerías</button></a>
                </div>
                <table class="table table-hover table-responsive mt-3 text-center table-bordered">
                    <thead class="bg-warning text-white">
                        <tr>
                            <th>Nombre</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cervecerias}}
                        <tr>
                            <td>{{nombre}}</td>
                            {{!-- /admin/productos/baja/4 --}}
                            <td><a href="/admin/cervecerias/baja/{{id_cerveceria}}"><i
                                        class="fas fa-trash text-danger pr-3 pl-3" style="cursor: pointer;"></i></a>
                            </td>
                        </tr>
                        {{!--  XMLHTTPRequest  --}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>