<div class="products-catagories-area clearfix">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h4 class="text-center">Categoría a cargar</h4>
                <div class="d-inline-flex">
                    <a href="/admin/categorias"><button type="button" class="btn btn-block amado-btn"><i
                                class="fa fa-arrow-left" aria-hidden="true"></i>
                            Volver</button></a>
                </div>
            </div>
            <div class="col-8 mt-2">

                <form id="form1">


                    <div class="form-group">
                        <label for="categoria">Categoría</label>
                        <input type="text" name="categoria" id="categoria" class="form-control">
                    </div>



            </div>
            <div class="col-8">
                <button id="boton" type="button" class="btn btn-block amado-btn">Alta de categoría</button>
            </div>
            </form>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
    // document
    // window -> 
    // listener (evento, callback/funcion)
    window.addEventListener('load', () => {
        console.log("Cargado..")
        document.getElementById('boton').addEventListener('click', botonApretado);
    });

    const botonApretado = () => {
        console.log("%cUpss me apretaron 😜🐱‍🏍", "color:red");
        const datos = new URLSearchParams(new FormData(document.getElementById('form1')));
        // fetch
        fetch('/admin/categorias/alta', {
            method: 'POST',
            body: datos
        })

            .then(response => response.json())
            .then(data => message(data));
    }
    // console.log(message)
    const message = (datos) => {
        if (datos.success == true) {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Categoria cargada 🤞',
                showConfirmButton: true,
            })
        } else {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Oops... Ocurrio un error 🤣',
                showConfirmButton: true,
            })
        }
    }



</script>