<div class="products-catagories-area clearfix">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-12">
                <h1>Ups, ha ocurrido un error</h1>
                <h2>Probablemente el error ha sido el login!</h2>
                <h3>No hay ningun problema, acá te dejo el link <span><a class="btn amado-btn"href="/login">Login</a></span></h3>
            </div>
        </div>
    </div>
</div>