<section class="ftco-section" id="testimonios">
<div class="container mt-5">
    <div class="row">
    <a href="/admin/productos"><button style="margin-bottom: 10px;" type="button" class="btn btn-warning btn-block">Productos ABM</button></a>
    <a href="/admin/usuarios"><button style="margin-bottom: 10px;" type="button" class="btn btn-warning btn-block">Usuarios ABM</button></a>
    <a href="/admin/categorias"><button style="margin-bottom: 10px;" type="button" class="btn btn-warning btn-block">Categorias ABM</button></a>
</div></div>
</section>