<div class="products-catagories-area clearfix">
    <section class="ftco-section">
        <div class="container mt-5 ">
            <div class="row d-flex justify-content-around">
                <a href="/admin/productos"><button style="margin-top: 80px;" type="button"
                        class="btn amado-btn">Productos ABM</button></a>
                <a href="/admin/usuarios"><button style="margin-top: 80px;" type="button"
                        class="btn amado-btn">Usuarios ABM</button></a>
                <a href="/admin/categorias"><button style="margin-top: 80px;" type="button"
                        class="btn amado-btn mb-5">Categorias ABM</button></a>
                <a href="/admin/cervecerias"><button style="margin-top: 80px;" type="button"
                        class="btn amado-btn mb-5">Cervecerias ABM</button></a>
            </div>
        </div>
</div>
</section>